# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
.idea/
*.sln
*.xcodeproj
*.xcworkspace

# Native build
build/
cmake-build-*/
Testing/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
